::ng-deep .mat-tab-label .mat-tab-label-content {
  //font-size: x-large;
  color: black;
}

.container {
  margin-top: 10px;
  min-height: 90vh;
}

.centered-column {
  float: none;
  margin: 0 auto;
  margin-top: 7vh;
  //center vertically
  //  display: flex;
  //  flex-direction: column;
  //  justify-content: center;
  //  align-items: center;
  //

}

select.btn-mini {
  height: auto;
  line-height: 10px;
  color:white;
}

option{
  color:white;
}

/* this is optional (see below) */
select.btn-select {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  padding-right: 10px;
  margin-right: 10px;
}

select.btn-mini + .caret {
  margin-left: -10px;
  margin-top: -10px;
}

.is-income{
  background: greenyellow;
}

.is-expense{
  background: red;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto Condensed', serif !important;
  padding: 0 !important;
  margin: 5px !important;
}
