<div class="container-fluid container">
  <div class="row">
    <div class="col col-12 text-center">
      <!--      You're adding new entry for {{this.month}}/{{this.day}}/{{this.year}}-->
    </div>
  </div>
  <mat-tab-group mat-align-tabs="center">
    <div class="row">
      <mat-tab class="mat-label" label="Income">
        <div class="col col-md-6 centered-column">
          <app-add-income
            (saveEvent)="saveIncomeEventHandler($event)"
          >
            You're adding a new entry for
            <select
              name="day"
              [(ngModel)]="this.day"
              class="btn btn-mini">
              <option *ngFor="let opt of getDayArrayForDate()"
                      [selected]="opt.isSelected"
                      [value]="opt.value">
                {{opt.title}}
              </option>
            </select>
            <span class="caret"></span>
<!--            <select class="btn btn-mini">-->
<!--              <option>1</option>-->
<!--              <option>2</option>-->
<!--              <option>3</option>-->
<!--              <option>14</option>-->
<!--            </select>-->
<!--            <span class="caret"></span>-->
            &nbsp;June of
            {{this.year}}
          </app-add-income>
        </div>
      </mat-tab>
    </div>
    <div class="row">
      <mat-tab label="Expense">
        <div class="col col-6 centered-column">
          <app-add-expense
            (saveEvent)="saveExpenseEventHandler($event)"
          >
            You're adding a new entry for {{this.month}}/{{this.day}}/{{this.year}}
          </app-add-expense>
        </div>
      </mat-tab>
    </div>
  </mat-tab-group>

</div>
