<div class="container-fluid container">
  <div class="row">
    <div class="col col-12 text-center">
      <!--      You're adding new entry for {{this.month}}/{{this.day}}/{{this.year}}-->
    </div>
  </div>
  <mat-tab-group mat-align-tabs="center">
    <div class="row">
      <br>
      <mat-tab class="mat-label" label="Income">
        <div class="col col-md-6 col-lg-7 centered-column">
          <app-add-income
            [accounts]="pageData.accounts"
            [model]="newIncome"
            (saveEvent)="saveIncomeEventHandler($event)">
            You're adding a new entry for
            <select
              name="day-selected"
              (ngModelChange)="updateSelectedDay($event)"
              [(ngModel)]="this.day"
              class=" btn-select btn-mini btn-success">
              <option *ngFor="let opt of getDayArrayForDate()"
                      [selected]="opt.isSelected"
                      [ngValue]="opt.value">
                {{opt.title}}
              </option>
            </select>
            <span class="caret"></span>
            &nbsp;{{this.monthName}} of
            {{this.year}}
          </app-add-income>
        </div>
      </mat-tab>
    </div>
    <div class="row">
      <mat-tab label="Expense">
        <div class="col col-6 col-lg-7 centered-column">
          <app-add-expense
            [categories]="pageData.categories"
            [accounts]="pageData.accounts"
            [model]="newExpense"
            (saveEvent)="saveExpenseEventHandler($event)" >
            You're adding a new entry for
            <select
              name="day"
              (ngModelChange)="updateSelectedDay($event)"
              [(ngModel)]="this.day"
              class=" btn-select btn-mini btn-danger">
              <option *ngFor="let opt of getDayArrayForDate()"
                      [selected]="opt.isSelected"
                      [ngValue]="opt.value">
                {{opt.title}}
              </option>
            </select>
            <span class="caret"></span>
            &nbsp;{{this.monthName}} of
            {{this.year}}
          </app-add-expense>
        </div>
      </mat-tab>
    </div>
  </mat-tab-group>

</div>
