<div class="card text-center">
  <div class="card-header card-header-primary">
    <h5 class="card-title">Login</h5>
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col col-7 centered-column">
        <app-facebook-btn
          [label]="'Login with Facebook'"
        >
        </app-facebook-btn>
      </div>
      <br>
      <div class="col col-7 centered-column">
        <app-google-btn
          [label]="'Login with Google'"
        >
        </app-google-btn>
      </div>
      <br>
    </div>
    <br>
    <hr>
    <br>
    <div class="row">
      <div class="col col-7 centered-column">
        <div class="input-group">
          <div class="input-group-prepend">
                <span class="input-group-text">
                    <i class="material-icons">alternate_email</i>
                </span>
          </div>
          <input
            [(ngModel)]="model.username"
            type="text" class="form-control" placeholder="Email address">
        </div>
        <!--              <input type="text" class="form-control light-color" placeholder="Email">-->
      </div>
      <br>
      <br>
      <div class="col col-7 centered-column">
        <div class="input-group">
          <div class="input-group-prepend">
                              <span class="input-group-text">
                                  <i class="material-icons">lock</i>
                              </span>
          </div>
          <input
            [(ngModel)]="model.password"
            type="password" class="form-control" placeholder="Password">
        </div>
        <!--              <input type="text" class="form-control light-color" placeholder="Email">-->
      </div>
      <br>
      <br>
      <div class="col col-7 centered-column">
        <button
          (click)="this.login()"
          [ngClass]="{'btn-secondary':!this.isValidModel, 'btn-primary': this.isValidModel}"
          class="btn btn-block btn-round">
          LOGIN
        </button>
      </div>
    </div>

    <br>


  </div>
</div>
