<div class="card">
  <div class="card-header card-header-danger">
    <h4 class="card-title">Add an expense</h4>
<!--    <p class="card-category">Complete your profile</p>-->
  </div>
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="col col-7">
          <input type="text" class="form-control" placeholder="Name">
        </div>

      </div>
      <div class="form-row margin-10">
        <div class="col">
          <input type="text" class="form-control" placeholder="First name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Last name">
        </div>
      </div>
    </form>
  </div>
</div>


<!--<form>-->
<!--  <div class="form-row">-->
<!--    <div class="col">-->
<!--      <input type="text" class="form-control" placeholder="First name">-->
<!--    </div>-->
<!--    <div class="col">-->
<!--      <input type="text" class="form-control" placeholder="Last name">-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->
