<div id="user-register-card" class="card">
  <div class="card-header card-header-primary">
    <h4 class="card-title">Register</h4>
    <p class="card-category">Complete your profile</p>
  </div>
  <div class="card-body">
    <form>
      <div class="row custom-row">
        <div class="col col-12">
          <div class="input-group">
            <div class="input-group-prepend">
                  <span class="input-group-text">
                      <i class="material-icons">group</i>
                  </span>
            </div>
            <input type="text" class="form-control" placeholder="Email address *">
          </div>
          <!--              <input type="text" class="form-control light-color" placeholder="Email">-->
        </div>
        <div class="col col-6">
          <input type="text" class="form-control light-color" placeholder="Password *">
        </div>
        <div class="col col-6">
          <input type="text" class="form-control light-color" placeholder="Confirm password *">
        </div>
        <div class="col col-6">
          <input type="text" class="form-control light-color" placeholder="First name *">
        </div>
        <div class="col col-6">
          <input type="text" class="form-control light-color" placeholder="Last name *">
        </div>
        <div class="col col-6">
          <div class="input-group">
            <div class="input-group-prepend">
                  <span class="input-group-text">
                      (+1)
                  </span>
            </div>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Phone number">
            <small id="emailHelp" class="form-text text-muted">We'll keep you reminded of your expenses by SMS.</small>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
