#expenses-card{
  height: 400px;
}

#expenses-card  div.amount-container{
  font-size: 26px;

}

#expenses-card div.chart{
  margin-top: 30px;
  width: 100%;
  position: relative;
  height: 200px;
  left: -10px;
}
