.container{
  display: flex;
  flex-flow: column;
  height: 100%;
  min-width: 600px;
}

.chart {
  margin:0;
  padding: 0;
  height: 500px;
  //min-width: 500px;
}

.legend{
  color: white;
}

.mini-chart{
  height: 200px;
}

.dark-card{
  background: #243447;
}

.left-side-section{
  overflow-y: auto;
  height: 90vh;
  //todo use height:100% and overflow in parent (layout)
}
.side-section{
  //float:left;
  //width:1000px;
  overflow-y: auto;
  height: 90vh;
}

#report-table{
  border-radius: 0.3em;
  //background: whitesmoke;
  color: white;

  tbody tr.total-row{
    //background: darkcyan;
    //border-radius: 0 0 0.3em 0.3em;
    font-size: 18px;
  }
}

.font-12{
  font-size: 12px;
}

.card-custom-header{
  background: dodgerblue;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  //font-size: x-large;
  color: black;
}
