<div class="row calendar-header card-header ">
  <div class="col col-4 date-picker card-primary">
    <mat-form-field>
      <mat-label>Month</mat-label>
      <mat-select [(value)]="monthSelected"
                  (selectionChange)="handleDateSelection()"
      >
        <mat-option *ngFor="let month of months"
                    [value]="month.value">
          {{month.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col col-4 text-center">
    {{getMonthName() | uppercase}} , 2020
  </div>
  <div class="col col-4 text-right date-picker">
    <mat-form-field>
      <mat-label>Year</mat-label>
      <mat-select [(value)]="yearSelected"
                  (selectionChange)="handleDateSelection()"
      >
        <mat-option *ngFor="let year of years"
                    [value]="year.value">
          {{year.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="row calendar-numbers">
  <div *ngFor="let dayHeader of dayHeaders" class="col text-center " [ngClass]="{'active-day': dayHeader.isActive}">
    {{dayHeader.name}}
  </div>
</div>
<br>


<!--doesnt work-->
<!--<div *ngIf="model.calendar.length > 0">-->
<!--  <div *ngFor="let row of model.rowArray" class="row">-->
<!--    <div *ngFor="let col of model.columnArray" class="col text-center">-->
<!--      <app-calendar-number *ngFor="let day of model.calendar; i as index;"-->
<!--          [model]="day"-->
<!--          [arrayIndex]="index"-->
<!--        >-->
<!--      </app-calendar-number>-->
<!--    </div>-->
<!--      <br>  <br>   <br>-->
<!--  </div>-->
<!--</div>-->

<div *ngFor="let row of model; index as rowIndex" class="row">
  <div *ngFor="let column of row; index as columnIndex" class="col text-center">
    <app-calendar-number
      [model]="column"
      [rowIndex]="rowIndex"
      [columnIndex]="columnIndex"
      (dayClicked)="onDayClickedHandler($event)"
    ></app-calendar-number>
  </div>
  <br> <br> <br>
</div>


