//.action-icon {
//  font-size: 19px !important;
//}
//
//.action-icon:hover{
//  cursor: pointer;
//}
//
//.info-icon {
//  color: dodgerblue;
//}
//
//.delete-icon {
//  color: red;
//}
.card-category{
  font-weight: bold;
  font-size: 16px;
}
.categories-card{
  height: 80vh;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto Condensed', serif;;
  padding: 0 !important;
  margin: 5px !important;
}

.scrollable-body{
  overflow-x: hidden;
  overflow-y: auto;
}
