.margin-10{
  margin-top: 10px;
}

input, select{
  color: white;
}

input:focus{
  color: white;
}

input:disabled{
  background: none;
}

.btn-dodger{
  background: dodgerblue;
}

.btn-dialog:hover{
  box-shadow: none !important;
}

.btn-dialog{
  box-shadow: none !important;
}
