<h5 mat-dialog-title>Income details</h5>
<div mat-dialog-content>
  <div class="form-row margin-10">
    <div class="col col-7">
      <label>Title</label>
      <input type="text"
             autocomplete="off"
             name="title"
             [(ngModel)]="model.title"
             [disabled]="!editMode"
             class="form-control" placeholder="Title">
    </div>
    <div class="col">
      <label>Amount</label>
      <input type="number"
             autocomplete="off"
             name="amount"
             [(ngModel)]="model.amount"
             [disabled]="!editMode"
             class="form-control" placeholder="Amount">
    </div>
  </div>
  <br>
  <div class="form-row margin-10">
    <div class="col-10">
      <label>Description</label>
      <input type="text"
             name="description"
             autocomplete="off"
             [(ngModel)]="model.description"
             [disabled]="!editMode"
             class="form-control" placeholder="Description">
    </div>
  </div>
  <div class="form-row margin-10">
    <div class="col-6">
      <label>Account</label>
      <select
        name="category"
        [disabled]="!editMode"
        [(ngModel)]="model.accountId"
        class="form-control selectpicker" data-style="btn btn-link">
        <option *ngFor="let account of data.accounts"
                [ngValue]="account.id"
        >
          {{account.name}}
        </option>
      </select>
    </div>
  </div>
  <br>

  <div class="form-row" *ngIf="editMode">
    <div class="col col-6">
      <button
        (click)="cancelEvent()"
        class="btn btn-raised btn-dialog btn-default btn-block">CANCEL
      </button>
    </div>
    <div class="col col-6">
      <button
        (click)="updateIncome()"
        class="btn btn-raised btn-dialog btn-success btn-block">SAVE CHANGES
      </button>
    </div>
  </div>

  <div class="form-row" *ngIf="!editMode">
    <div class="col col-6">
      <button
        (click)="editMode = true"
        class="btn btn-raised btn-dialog btn-dodger btn-block">EDIT
      </button>
    </div>
    <div class="col col-6">
      <button
        (click)="this.dialogRef.close()"
        class="btn btn-raised btn-dialog btn-default btn-block">DONE
      </button>
    </div>

</div>



