#home-page{
  width: 100%;
  font-family: 'Roboto Condensed', serif;

}
#days-container{
  overflow-y: auto;
  height: 90vh;
  //todo use height:100% and overflow in parent (layout)
}

#cards-container{
  overflow-y: auto;
  height: 90vh;
}

.custom-btn {
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 0.4em;
}

.card-table{
  font-size: 13px;
}

#circular-budget{
  width: 150px;
  height: 150px;
}

#faded-container{
  margin-top: -10px;
  background: #243447;
  padding-top: 0;
  padding-bottom: 0;
  color: white;
  //border-radius: 3px;
  border-radius: 0 0 3px 3px;
}

.font-weight-bold {
  font-weight: bold !important;
}

.amount-container{
  font-size: 26px;
}

.title-h4{
  font-size: 16px;
  padding-top: 0;
  padding-bottom: 0;
}

.white-text{
  color: white;
}

.no-padding-input{
  padding-top: 0px;
  padding-bottom: 0;
}

