<div id="home-page">
  <div id="faded-container" class="row">
    <div class="col col-3"></div>
    <div class="col col-6 text-center">
      <!--        DASHBOARD - A quick summary for the current month-->
      <igx-input-group class="autocomplete">
        <label igxLabel for="quicksearch">Quick search</label>
        <input igxInput name="quicksearch" type="text"
               class="no-padding-input white-text"
               [igxAutocomplete]="townsPanel"
               (ngModelChange)="filterBudgetList($event)"
               [(ngModel)]="descriptionSelected"/>
      </igx-input-group>
      <igx-drop-down #townsPanel maxHeight="300px">
        <igx-drop-down-item
          *ngFor="let desc of descriptionsArray |
          startsWith:descriptionSelected" [value]="desc">
          {{desc}}
        </igx-drop-down-item>
      </igx-drop-down>
      <div class="col col-3"></div>
    </div>
  </div>
  <div class="row">
    <div class="col col-12">
      <span>To add more entries, go to the
        <a routerLink="/calendar">Calendar</a> .
      </span>
    </div>
    <div id="days-container" class="col col-7">
      <div *ngFor="let day of filteredBudgetList" class="row">
        <div *ngIf="hasDayIncomeOrExpense(day)" class="card col col-12 ">
          <div class="card-header card-header-text card-header-primary ">
            <div class="card-text">
              <span class="title-h4 font-weight-bold">{{getMonthName(day.month)}} {{day.day}}, {{day.year}}</span>
            </div>
          </div>
          <table class="table">
            <tbody>
            <tr *ngFor="let income of day.incomes">
              <td style="width:120px;" class="font-weight-bold">{{income.title}}</td>
              <td style="width:80px;" class="text-success font-weight-bold">${{income.amount}}</td>
              <td style="width:120px;"></td>
              <td style="width:120px;">{{getAccountNameUpper(income.accountId)}}</td>
            </tr>
            <tr *ngFor="let expense of day.expenses">
              <td style="width:120px;" class="font-weight-bold">{{expense.title}}</td>
              <td style="width:80px;" class="text-danger font-weight-bold">${{expense.amount}}</td>
              <td style="width:120px;">{{getCategoryNameUpper(expense.categoryId)}}</td>
              <td style="width:120px;">{{getAccountNameUpper(expense.accountId)}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div id="cards-container" class="col-5">
      <app-budget-home
        [model]="categoryBudgetExpenseList"
        [categories]="categories"
        [expensesTotal]="totalExp"
                >

      </app-budget-home>
<!--      <div class="card">-->
<!--        <div class="card-header card-header-primary font-weight-bold">-->
<!--          Budget-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--          <div class="row">-->
<!--            <div class="col col-12 text-center font-weight-bold">-->
<!--              BUDGET FOR MONTH-->
<!--            </div>-->
<!--            &lt;!&ndash; TODO add linear gauge&ndash;&gt;-->
<!--            <div class="col col-12 text-center amount-container">-->
<!--              <span class="">{{this.getCategoriesBudgetTotal() | currency}}</span> - <span-->
<!--              class="text-danger">{{this.totalExp | currency}}</span> = <span-->
<!--              class="text-primary">{{ (this.getCategoriesBudgetTotal() - this.totalExp) | currency }}</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <br>-->
<!--          <div class="row">-->
<!--            <div class="col col-12">-->
<!--              <app-category-budget-expense-->
<!--                [model]="categoryBudgetExpenseList"-->
<!--              >-->

<!--              </app-category-budget-expense>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->

<!--      </div>-->

      <app-income-home [model]="incomes"
                       [accounts]="accounts">

      </app-income-home>

      <app-expenses-home [model]="expenses"
                          [categories]="categories"
                          [expensesTotal]="totalExp"
          >

      </app-expenses-home>
<!--      <div class="card">-->
<!--        <div class="card-header card-header-danger font-weight-bold">-->
<!--          Expenses-->
<!--        </div>-->
<!--        <div class="card-body">-->
<!--          <div class="row">-->
<!--            <div class="col col-12 text-center">-->
<!--              ACTIVITY FOR MONTH-->
<!--            </div>-->
<!--            <div class="col col-12 text-center amount-container">-->
<!--              <span class="text-danger">$ {{this.totalExp | number }}</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <br>-->
<!--        </div>-->
<!--      </div>-->

    </div>
  </div>
</div>

