<div id="home-page">
  <div id="faded-container" class="row">
    <div class="col col-3"></div>
    <div class="col col-6 text-center">
      <!--        DASHBOARD - A quick summary for the current month-->
      <igx-input-group class="autocomplete">
        <label igxLabel for="quicksearch">Quick search</label>
        <input igxInput name="quicksearch" type="text"
               class="no-padding-input white-text"
               [igxAutocomplete]="townsPanel"
               (ngModelChange)="filterBudgetList($event)"
               [(ngModel)]="descriptionSelected"/>
      </igx-input-group>
      <igx-drop-down #townsPanel maxHeight="300px">
        <igx-drop-down-item *ngFor="let desc of descriptionsArray | startsWith:descriptionSelected" [value]="desc">
          {{desc}}
        </igx-drop-down-item>
      </igx-drop-down>
      <div class="col col-3"></div>
    </div>
  </div>
  <div class="row">
    <div id="days-container" class="col col-7">
      <div *ngFor="let day of filteredBudgetList" class="row">
        <div *ngIf="hasDayIncomeOrExpense(day)" class="card col col-12">
          <div class="card-header card-header-text card-header-primary">
            <div class="card-text">
              <span class="title-h4 font-weight-bold">July {{day.day}}, {{day.year}}</span>
            </div>
          </div>
          <!--          <div class="card-header card-header-primary">-->
          <!--            <div class="row">-->
          <!--              <div class="col">-->
          <!--                <div class="card-text">-->
          <!--                  <h4 class="card-title">July {{day.day}}, {{day.year}}</h4>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--              <div class="col ">-->
          <!--                <div class="float-right">-->
          <!--                  <button class="btn btn-info custom-btn">-->
          <!--                    <mat-icon>launch</mat-icon>-->
          <!--                  </button>-->
          <!--                  &nbsp;-->
          <!--                  <button class="btn btn-success custom-btn">-->
          <!--                    <mat-icon>add</mat-icon>-->
          <!--                  </button>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->
          <table class="table">
            <tbody>
            <tr *ngFor="let income of day.incomes">
              <td class="font-weight-bold">{{income.title}}</td>
              <td class="text-success font-weight-bold">${{income.amount}}</td>
              <td></td>
              <td>{{getAccountNameUpper(income.accountId)}}</td>
            </tr>
            <tr *ngFor="let expense of day.expenses">
              <td class="font-weight-bold">{{expense.title}}</td>
              <td class="text-danger font-weight-bold">${{expense.amount}}</td>
              <td>{{getCategoryNameUpper(expense.categoryId)}}</td>
              <td>{{getAccountNameUpper(expense.accountId)}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div id="cards-container" class="col col-5">
      <div class="card">
        <div class="card-header card-header-primary font-weight-bold">
          Budget
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col col-12 text-center">
              TOTAL SPENT TO DATE
            </div>
            <div class="col col-12 text-center d-flex justify-content-center">
              <igx-pie-chart [dataSource]="budgetDataChart"
                             width="300px"
                             height="200px"
                             labelMemberPath="label"
                             allowSliceExplosion="true"
                             [brushes]="['greed','red']"
                             valueMemberPath="value">
              </igx-pie-chart>
            </div>
            <div class="col col-12 text-center amount-container">
              <span class="text-success">$ {{this.totalIncome | number}}</span> - <span
              class="text-danger">$ {{this.totalExp | number}}</span> = <span
              class="text-primary">{{ (this.totalIncome - this.totalExp) | number }}</span>
            </div>
          </div>
        </div>
        <br>
        <app-category-budget-expense
          [model]="categoryBudgetExpenseList"
        >

        </app-category-budget-expense>
      </div>

      <div class="card">
        <div class="card-header card-header-success font-weight-bold">
          Income
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col col-12 text-center">
              ACTIVITY FOR MONTH
            </div>
            <div class="col col-12 text-center amount-container">
              <span class="text-success">$ {{this.totalIncome | number }}</span>
            </div>
          </div>
        </div>
        <br>
      </div>

      <div class="card">
        <div class="card-header card-header-danger font-weight-bold">
          Expenses
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col col-12 text-center">
              ACTIVITY FOR MONTH
            </div>
            <div class="col col-12 text-center amount-container">
              <span class="text-danger">$ {{this.totalExp | number }}</span>
            </div>
          </div>
          <br>
<!--          <div class="row">-->
<!--            <div class="col col-12">-->
<!--              <h5>Top 3 expenses</h5>-->
<!--              <hr>-->
<!--            </div>-->
<!--            <table class="table card-table">-->
<!--              <tr>-->
<!--                <td>Expense 1</td>-->
<!--                <td>$567.233</td>-->
<!--                <td>Date</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>Expense 2</td>-->
<!--                <td>$467.233</td>-->
<!--                <td>Date</td>-->
<!--              </tr>-->
<!--              <tr>-->
<!--                <td>Expense 3</td>-->
<!--                <td>123.233</td>-->
<!--                <td>Date</td>-->
<!--              </tr>-->
<!--            </table>-->
<!--          </div>-->
        </div>


      </div>
    </div>


  </div>
</div>

