
.calendar-day {
  //padding: 1em .1em 1em .1em;
  font-size: 16px;
  opacity: 50%;
  color: black !important;
  span {
    border-radius: 50%;
    padding: .5em 1em .5em 1em;
  }
}

.calendar-day.clicked {
  color: white;
  opacity: 100%;
  span {
    background: dodgerblue !important;
    box-shadow: 0 1px 3px dodgerblue, 0 1px 2px black !important;
  }
}

.active-day {
  color: deeppink;
  font-weight: bold;
}

.calendar-day.active-day {
  color: deeppink !important;
}

.calendar-day-2.active-day{
  color: deeppink !important;
}

.calendar-day.day-has-expense {
  opacity: 100%;
  span{
    //background: #243447;
    //color: white;
    font-weight: bold;
  }
}
.calendar-day-2{
  font-size: 16px;
  opacity: 50%;
  color: black !important;
  > span {
    border-radius: 50%;
    //background: orangered;
    padding: .55em .8em .55em .8em;
  }
}
.calendar-day-2:hover{
  cursor: pointer;
}
.calendar-day-2.clicked {
  color: white;
  opacity: 100%;
  span {
    background: dodgerblue !important;
    box-shadow: 0 1px 3px dodgerblue, 0 1px 2px black !important;
  }
}
.calendar-day-2.day-has-expense {
  opacity: 100%;
  span{
    //background: #243447;
    //color: white;
    font-weight: bold;
  }
}
.calendar-day:hover {
  cursor: pointer;
}
