<!--todo install jquery-->
<div class="top-menu">
  <button mat-button
          routerLinkActive="clicked"
          [routerLink]="['/home']">
    <mat-icon class="md-30 color-dark" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </button>

  <button
    [routerLink]="['/calendar']"
    routerLinkActive="clicked"
    mat-button >
    <mat-icon class="md-30 color-dark " aria-hidden="false" aria-label="Example home icon">calendar_today</mat-icon>
  </button>

  <button
    routerLinkActive="clicked"
    mat-button [routerLink]="['/login']">
    <mat-icon class="md-30 color-dark" aria-hidden="false" aria-label="Example home icon">account_circle</mat-icon>
  </button>
  <mat-menu #belowMenu="matMenu" yPosition="below">
    <button
      [routerLink]="['/login']"
      mat-menu-item>Login</button>
<!--    <button mat-menu-item>Item 2</button>-->
  </mat-menu>

  <button
    routerLinkActive="clicked"
    [routerLink]="['/reports']"
    mat-button>
    <mat-icon class="md-30 color-dark" aria-hidden="false" aria-label="Example home icon">pie_chart</mat-icon>
  </button>

</div>

