<div id="auth-page">
  <mat-tab-group mat-align-tabs="center">
    <div class="row">
      <mat-tab class="mat-label" label="Register">
        <div class="col col-8 col-lg-5 centered-column">
          <app-auth-register>

          </app-auth-register>
        </div>
      </mat-tab>
    </div>
    <div class="row">
      <mat-tab class="mat-label" label="Login">
        <div class="col col-6 col-lg-5 centered-column">
          <app-auth-login>

          </app-auth-login>
        </div>
      </mat-tab>
    </div>
  </mat-tab-group>
</div>

<br>
<app-site-footer>

</app-site-footer>
