<div>
  <app-top-navbar>
  </app-top-navbar>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <!--  <div class="container">-->
  <!--    <div class="calendar-page-header">-->
  <!--      <div class="row">-->
  <!--        <div class="col-md-4 col-no-padding">-->
  <!--          <h3>May 2020</h3>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--    <div class="calendar-container">-->
  <!--      <div class="row calendar-row-header" >-->
  <!--        <div class="col-2 col-md-2 col-no-padding">-->
  <!--          Monday-->
  <!--        </div>-->
  <!--        <div class="col-2 col-md-2 col-no-padding">-->
  <!--          Tuesday-->
  <!--        </div>-->
  <!--        <div class="col-2 col-md-2 col-no-padding">-->
  <!--          Wednesday-->
  <!--        </div>-->
  <!--        <div class="col-2 col-md-2 col-no-padding">-->
  <!--          Thursday-->
  <!--        </div>-->
  <!--        <div class="col-2 col-md-2 col-no-padding">-->
  <!--          Friday-->
  <!--        </div>-->
  <!--        <div class="col col-2 col-md-2 col-no-padding">-->
  <!--          Saturday / Sunday-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="row">-->
  <!--        <div *ngFor="let a of [1,2,3,4,5]" class="col col-md-2 col-no-padding">-->
  <!--          <div class="card calendar-card">-->
  <!--            <div class="card-body">-->
  <!--              <h5 class="card-title">{{a}}</h5>-->
  <!--              <h6 class="card-subtitle mb-2 text-muted">Chase credit card</h6>-->
  <!--              &lt;!&ndash;                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>&ndash;&gt;-->
  <!--              <a href="#" class="card-link">See full summary</a>-->
  <!--              &lt;!&ndash;                <a href="#" class="card-link">Another link</a>&ndash;&gt;-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->

  <!--        <div class="col col-md-2 col-no-padding">-->
  <!--          <div class="card calendar-card active-card">-->
  <!--&lt;!&ndash;            <div class="card-header custom-calendar-card-header">&ndash;&gt;-->
  <!--&lt;!&ndash;              <div class="row">&ndash;&gt;-->
  <!--&lt;!&ndash;                <div class="col-md-6">&ndash;&gt;-->
  <!--&lt;!&ndash;                  <h5>6/7</h5>&ndash;&gt;-->
  <!--&lt;!&ndash;                </div>&ndash;&gt;-->
  <!--&lt;!&ndash;                <div class="col-md-6">&ndash;&gt;-->
  <!--&lt;!&ndash;                  <span class="badge badge-pill badge-primary text-right">1</span>&ndash;&gt;-->
  <!--&lt;!&ndash;                </div>&ndash;&gt;-->
  <!--&lt;!&ndash;              </div>&ndash;&gt;-->
  <!--&lt;!&ndash;            </div>&ndash;&gt;-->
  <!--            <div class="card-body">-->
  <!--              <h4 class="card-title">6/7 </h4>-->
  <!--              <h6 class="card-subtitle mb-2 text-muted">No expenses</h6>-->
  <!--            </div>-->
  <!--            <div class="card-footer">-->
  <!--              &lt;!&ndash;todo if not expenses, then show add &ndash;&gt;-->
  <!--&lt;!&ndash;              <a href="#" class="card-link">Add expense reminder</a>&ndash;&gt;-->
  <!--              <div class="row">-->
  <!--                <div class="col-sm-4">-->
  <!--                  <mat-icon-->
  <!--                    class="calendar-action-icon add-icon"-->
  <!--                    aria-hidden="false" aria-label="Example home icon">monetization_on</mat-icon>-->
  <!--                </div>-->
  <!--                <div class="col-sm-4">-->
  <!--                  <mat-icon-->
  <!--                    class="calendar-action-icon info-icon"-->
  <!--                    aria-hidden="false" aria-label="Example home icon">list_alt</mat-icon>-->
  <!--                </div>-->
  <!--                <div class="col-sm-4">-->
  <!--                  <mat-icon-->
  <!--                    color="primary"-->
  <!--                    class="calendar-action-icon"-->
  <!--                    aria-hidden="false" aria-label="Example home icon">open_in_new</mat-icon>-->
  <!--                </div>-->
  <!--              </div>-->

  <!--&lt;!&ndash;              <mat-icon aria-hidden="false" aria-label="Example home icon">calendar_today</mat-icon>&ndash;&gt;-->
  <!--&lt;!&ndash;              <mat-icon aria-hidden="false" aria-label="Example home icon">calendar_today</mat-icon>&ndash;&gt;-->
  <!--&lt;!&ndash;              <mat-icon aria-hidden="false" aria-label="Example home icon">calendar_today</mat-icon>&ndash;&gt;-->
  <!--            </div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
</div>
