<div class="row">
  <div class="col col-sm-12 col-md-4 align-with-center-column">
    <div class="card">
      <div class="card-header card-header-success">
        <h4 class="card-title">Month summary</h4>
        <p class="card-category">Take a quick view at your monthly budget</p>
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
          <tr>
            <th class="font-weight-bold text-left">Month</th>
            <th class="text-right">Income</th>
            <th class="text-right">Expenses</th>
            <th class="text-right">Outcome</th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <td class="text-left font-weight-bold">January</td>
              <td class="text-right text-success">&euro;122.65</td>
              <td class="text-right text-danger">&euro;129</td>
              <td class="text-right">&euro;225</td>
            </tr>
            <tr>
              <td class="text-left font-weight-bold">February</td>
              <td class="text-right text-success">&euro;22.65</td>
              <td class="text-right text-danger">&euro;89</td>
              <td class="text-right">&euro;223</td>
            </tr>
            <tr>
              <td class="text-left font-weight-bold">March</td>
              <td class="text-right text-success">&euro;452.65</td>
              <td class="text-right text-danger">&euro;75</td>
              <td class="text-right">&euro;90</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="col col-sm-12 col-md-4">
    <div class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">User profile</h4>
        <p class="card-category">Edit your information</p>
      </div>
      <div class="card-body">
        <form>
          <div class="row custom-row">
            <div class="col col-12">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                      <i class="material-icons">group</i>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Email address">
              </div>
              <!--              <input type="text" class="form-control light-color" placeholder="Email">-->
            </div>
            <div class="col col-6">
              <input type="text" class="form-control light-color" placeholder="First name">
            </div>
            <div class="col col-6">
              <input type="text" class="form-control light-color" placeholder="Last name">
            </div>
            <div class="col col-8">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                      (+1)
                  </span>
                </div>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Phone number">
              </div>
            </div>
            <div class="col-12 text-right">
              <button class="btn btn-primary pull-md-right disabled">
                Save
              </button>
              <!--              <button class="btn btn-danger pull-md-right disabled">-->
              <!--                Cancel-->
              <!--              </button>-->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col col-sm-12 col-md-4 align-with-center-column">
    <div class="card">
      <div class="card-header  card-header-danger">
        <h4 class="card-title">My categories</h4>
        <p class="card-category">Add or remove categories</p>
      </div>
    </div>
  </div>


</div>
