.layout{
  margin-top: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.align-with-center-column{
  margin-top: 60px;
}

.custom-row .col {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: .5em !important;
  margin-bottom: .5em !important;
}

.nav-pills .nav-item{
  padding: 0.5px;
  font-size: 13.5px;
  //padding-top: 1em;
  a.nav-link{
    padding: 15px;
    color: #243447;
  }
}

.nav-pills .nav-item a.nav-link.active{
  background: #243447 !important;
  color: white;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.dogder-bg{
  background: dodgerblue !important;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto Condensed', serif;;
  padding: 0 !important;
  margin: 5px !important;
}
