.chart {
  margin:0;
  padding: 0;
  height: 500px;
  //min-width: 500px;
}

.left-side-section{
  overflow-y: auto;
  height: 90vh;
  //todo use height:100% and overflow in parent (layout)
}

.side-section{
  //float:left;
  //width:1000px;
  overflow-y: auto;
  height: 90vh;
}

#report-table thead tr th{

}

.font-12 {
  font-size: 12px;
}
