<div class="card">
  <div class="card-header card-header-success">
    <h5>Add an income</h5>
    <ng-content></ng-content>
<!--    <p class="card-category">Complete your profile</p>-->
  </div>
  <div class="card-body">
    <form>
      <div class="form-row margin-10">
        <div class="col col-6">
          <input type="text"
                 autocomplete="off"
                 name="title"
                 [(ngModel)]="model.title"
                 class="form-control" placeholder="Title">
        </div>
        <div class="col input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">
                <i class="material-icons">attach_money</i>
            </span>
          </div>
          <input type="number"
                 autocomplete="off"
                 name="amount"
                 [(ngModel)]="model.amount"
                 step="0.01"
                 pattern="^\d*(\.\d{0,2})?$"
                 class="form-control" placeholder="Amount">
        </div>
      </div>
      <div class="form-row margin-10">
        <div class="col-6">
          <select
            name="category"
            [(ngModel)]="model.accountId"
            class="form-control selectpicker" data-style="btn btn-link">
            <option *ngFor="let account of accounts"
                    [ngValue]="account.id"
            >
              {{account.name}}
            </option>
          </select>
          <small class="form-text text-muted">Choose an account</small>
        </div>
      </div>
      <div class="form-row margin-10">
        <div class="col-8">
          <input type="text"
                 name="description"
                 autocomplete="off"
                 [(ngModel)]="model.description"
                 class="form-control" placeholder="Notes">
        </div>
        <div class="col-4">
          <mat-checkbox
            color="primary" class="mat-checkbox"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="model.isConcurrent"
          >
          Make this concurrent
          </mat-checkbox>
        </div>
      </div>
      <br>
      <div class="form-row margin-10">
        <div class="col-6">
          <button class="btn btn-danger btn-raised btn-block">
            CANCEL
          </button>
        </div>
        <div class="col-6">
          <button
            (click)="save()"
            class="btn btn-success btn-raised btn-block">
            ADD
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

