<div class="card">
  <div class="card-header card-header-success">
    <h4 class="card-title">Add an income</h4>
<!--    <p class="card-category">Complete your profile</p>-->
  </div>
  <div class="card-body">
    <form>
      <div class="form-row">
        <div class="col col-7">
          <input type="text" class="form-control" placeholder="Name">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Amount">
        </div>
      </div>
      <div class="form-row margin-10">
        <div class="col-5">
          <input type="text" class="form-control" placeholder="Category">
        </div>
      </div>
      <div class="form-row margin-10">
        <div class="col-10">
          <input type="text" class="form-control" placeholder="Description">
        </div>
      </div>
    </form>
  </div>
</div>

