
.margin-10{
  margin-top: 10px;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto Condensed', serif !important;
  padding: 0 !important;
  margin: 5px !important;
}

.mat-checkbox{
  border-color: black !important;
}
