<div class="card">
  <div class="card-header card-header-success">
    <h4 class="card-title">Add an income</h4>
    <ng-content></ng-content>
<!--    <p class="card-category">Complete your profile</p>-->
  </div>
  <div class="card-body">
    <form>
      <div class="form-row margin-10">
        <div class="col col-7">
          <input type="text"
                 autocomplete="off"
                 name="title"
                 [(ngModel)]="model.title"
                 class="form-control" placeholder="Title">
        </div>
        <div class="col">
          <input type="number"
                 autocomplete="off"
                 name="amount"
                 class="form-control" placeholder="Amount"
                 [(ngModel)]="model.amount"
          >
        </div>
      </div>
      <div class="form-row margin-10">
        <div class="col-10">
          <input type="text"
                 name="description"
                 autocomplete="off"
                 [(ngModel)]="model.description"
                 class="form-control" placeholder="Description">
        </div>
      </div>
      <br>
      <div class="form-row margin-10">
        <div class="col-6">
          <button class="btn btn-danger btn-raised btn-block">
            CANCEL
          </button>
        </div>
        <div class="col-6">
          <button
            (click)="save()"
            class="btn btn-success btn-raised btn-block">
            ADD
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

