<div id="user-page" class="row">
  <div class="col col-6 col-centered">
    <div id="user-register-card" class="card">
      <div class="card-header card-header-primary">
        <h4 class="card-title">Register</h4>
        <p class="card-category">Complete your profile</p>
      </div>
      <div class="card-body">
        <form>
          <div class="col-12">
            <div class="row custom-row">
              <div class="col col-md-8">
<!--                <mat-form-field >-->
                  <input class="form-control light-color" placeholder="Email address" name="email"  type="email">
<!--                </mat-form-field>-->
              </div>
            </div>
            <div class="row custom-row">
              <div class="col col-10 col-md-6">
<!--                <mat-form-field>-->
                  <input class="form-control" placeholder="Password" name="password" type="password">
<!--                </mat-form-field>-->
              </div>
              <div class="col col-10 col-md-6">
<!--                <mat-form-field class="example-full-width">-->
                  <input placeholder="Confirm password" name="password2" type="password">
<!--                </mat-form-field>-->
              </div>
            </div>
            <div class="row">
              <div class="col col-6 col-md-6">
<!--                <mat-form-field>-->
                  <input placeholder="Fist Name" name="firstname" type="text">
<!--                </mat-form-field>-->
              </div>
              <div class="col col-6 col-md-6">
<!--                <mat-form-field class="example-full-width">-->
                  <input placeholder="Last Name" name="lastname"  type="text">
<!--                </mat-form-field>-->
              </div>
            </div>
            <div class="row">
              <div class="col col-6 col-md-6">
                  <input placeholder="Phone number" name="city"  type="text">

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>


  </div>
</div>
