#user-page{
  //vertical-align: middle;
  //margin-top: 25%;
}

#user-page div.col {
  margin-top: 5%;

  //vertical-align: middle;
  //line-height: 50%;
  //top: 150px;
  //background: red;
}

.col-centered{
  float: none;
  margin: 0 auto;
}
