#user-page{
  //vertical-align: middle;
  //margin-top: 25%;
  //width: 100%;
  width: 100%;
  min-height: 100vh;
  font-family: 'Roboto Condensed', serif;
}

.user-page-container {
  margin-top: 0;
  //vertical-align: middle;
  //line-height: 50%;
  //top: 150px;
  //background: red;
}


#faded-container {
  margin-top: 0px;
  background: #243447;
  padding-top: 0px;
  padding-bottom: 13px;
  color: white;
  //border-radius: 3px;
  border-radius: 0 0 3px 3px;
}

