<!--<p>calendar-page works!</p>-->
<div class="calendar-layout">
  <div class="row">
    <div class="col col-8 no-side-padding calendar-container">
      <app-calendar-container></app-calendar-container>-
<!--      <div class="row calendar-header">-->
<!--        <div class="col col-4 date-picker">-->
<!--          <mat-form-field>-->
<!--            <mat-label>Month</mat-label>-->
<!--            <mat-select>-->
<!--              <mat-option *ngFor="let food of foods" [value]="food.value">-->
<!--                {{food.viewValue}}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--        <div class="col col-4 text-center">-->
<!--          MAY, 2020-->
<!--        </div>-->
<!--        <div class="col col-4 text-right date-picker">-->
<!--          <mat-form-field>-->
<!--            <mat-label>Year</mat-label>-->
<!--            <mat-select>-->
<!--              <mat-option *ngFor="let food of years" [value]="food.value">-->
<!--                {{food.viewValue}}-->
<!--              </mat-option>-->
<!--            </mat-select>-->
<!--          </mat-form-field>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row calendar-numbers">-->
<!--        <div class="col text-center">-->
<!--          MON-->
<!--        </div>-->
<!--        <div class="col text-center">-->
<!--          TUE-->
<!--        </div>-->
<!--        <div class="col text-center">-->
<!--          WED-->
<!--        </div>-->
<!--        <div class="col text-center">-->
<!--          THU-->
<!--        </div>-->
<!--        <div class="col text-center">-->
<!--          FRI-->
<!--        </div>-->
<!--        <div class="col text-center active-day">-->
<!--          SAT-->
<!--        </div>-->
<!--        <div class="col text-center">-->
<!--          SUN-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="row">-->
<!--        <div class="col text-center">-->
<!--          <div class="calendar-day rounded-circle">-->
<!--            <span>1</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col text-center">-->
<!--          <div class="calendar-day clicked font-weight-bold">-->
<!--            <span>2</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col text-center">-->
<!--          <div class="calendar-day">-->
<!--            <span>3</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col text-center">-->
<!--          <div class="calendar-day">-->
<!--            <span>4</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col text-center">-->
<!--          <div class="calendar-day">-->
<!--            <span>5</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col text-center">-->
<!--          <div class="calendar-day active-day">-->
<!--            <span>6</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="col text-center">-->
<!--          <div class="calendar-day day-has-expense  font-weight-bold">-->
<!--            <span>7</span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div class="col col-4 no-side-padding summary-container">
      <div class="row">
        <div class="col summary-card-container">
          <div class="card text-center summary-card">
            <div class="card-body text-left">
              <h5 class="card-title">Expenses ($325)</h5>
              <h6 class="card-subtitle mb-2 text-muted">Showing expenses for Tuesday, May 2020</h6>
              <br/>
              <!--                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the-->
              <!--                    card's content.</p>-->
              <!--                  <p class="card-text expense-item">T MOBILE: Monthly T-Mobile ... $185 <a href="#" class="card-link">See details</a></p>-->
              <!--                  <p class="card-text expense-item">T MOBILE: Monthly T-Mobile ... $185 <a href="#" class="card-link">See details</a></p>-->
              <table class="table">
                <tbody>
                <tr class="expense-tr clicked">
                  <td class="font-weight-bold">T MOBILE</td>
                  <td>Telephone</td>
                  <td>$325.00</td>
                  <td class="text-right last-td">
                    <mat-icon aria-hidden="false" class="active-icon" aria-label="Example home icon">launch</mat-icon>
                  </td>
                </tr>
                <tr class="expense-tr strikeout">
                  <td class="font-weight-bold">CHASE</td>
                  <td>Bank account</td>
                  <td>$125.00</td>
                  <td class="text-right">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">launch</mat-icon>
                  </td>
                </tr>
                <tr class="expense-tr">
                  <td class="font-weight-bold">ALTICE ONE</td>
                  <td>Utility bill</td>
                  <td>$825.00</td>
                  <td class="text-right">
                    <mat-icon aria-hidden="false" aria-label="Example home icon">launch</mat-icon>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <div class="card-footer">
              <div class="row">
                <div class="col col-4">
                  <button class="btn btn-primary font-weight-bold btn-block">
                    Add new
                  </button>
                </div>
                <div class="col-4">
                  <button class="btn btn-block btn-info font-weight-bold ">Mark as Paid</button>
                </div>
                <div class="col-4">
                  <button class="btn btn-block btn-danger font-weight-bold">
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--          <div class="row calendar-header">-->
      <!--            <div class="col text-center">-->
      <!--              Expenses ($860)-->
      <!--            </div>-->
      <!--          </div>-->
      <!--          <div class="row">-->
      <!--            <div class="list-container">-->
      <!--              <div class="col">-->
      <!--                Amazon credit card: remember to pay on next-->
      <!--              </div>-->
      <!--            </div>-->
      <!--          </div>-->
    </div>
  </div>
</div>
