<div class="calendar-layout">
  <div class="row">
    <div class="col col-8 no-side-padding calendar-container">
      <app-calendar-container
        [budgetDays]="budgetDays"

        [daySelected]="calendarDaySelected"
        (selectedDateChangedEvent)="selectedDateChangeEventHandler($event)"

        (clickedDateEvent)="clickedDayEventHandler($event)"
      >

      </app-calendar-container>-
    </div>

    <div class="col col-4 no-side-padding summary-container">
      <app-calendar-day-expense *ngIf="pageData != null"
        [budgetDay]="budgetDaySelected"
        [categories]="pageData.categories"
        [accounts]="pageData.accounts"
        (addNewClickedEvent)="addNewEventHandler($event)"
        (incomeDetailClickedEvent)="incomeDetailClickedEventHandler($event)"
        (incomeDeletedClickedEvent)="deleteIncomeClickedEventHandler($event)"
        (expenseDetailClickedEvent)="expenseDetailClickedEventHandler($event)"
        (expenseDeletedClickedEvent)="deleteExpenseClickedEventHandler($event)"
      >

      </app-calendar-day-expense>
    </div>
  </div>
</div>
