<div class="card">
  <div class="card-header card-header-success">
    <h4 class="card-title">Month summary</h4>
    <p class="card-category">Take a quick view at your monthly budget</p>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th class="font-weight-bold text-left">Month</th>
        <th class="text-right">Income</th>
        <th class="text-right">Expenses</th>
        <th class="text-right">Outcome</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="text-left font-weight-bold">January</td>
        <td class="text-right text-success">&euro;122.65</td>
        <td class="text-right text-danger">&euro;129</td>
        <td class="text-right">&euro;225</td>
      </tr>
      <tr>
        <td class="text-left font-weight-bold">February</td>
        <td class="text-right text-success">&euro;22.65</td>
        <td class="text-right text-danger">&euro;89</td>
        <td class="text-right">&euro;223</td>
      </tr>
      <tr>
        <td class="text-left font-weight-bold">March</td>
        <td class="text-right text-success">&euro;452.65</td>
        <td class="text-right text-danger">&euro;75</td>
        <td class="text-right">&euro;90</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
