<div class="card">
  <div class="card-header card-header-success">
    <h6 class="card-title">Accounts</h6>
    <p class="card-category">Add, edit or delete accounts</p>
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
      <tr>
        <th class="font-weight-bold">Name</th>
        <th class="">Description</th>
        <th class="text-right">Actions</th>
<!--        <th class="text-right">Outcome</th>-->
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="font-weight-bold">Chase Debit</td>
        <td class="">Chase college</td>
        <td class="text-right last-td">
          <mat-icon
            aria-hidden="false" class="info-icon action-icon" aria-label="Example home icon">create
          </mat-icon>
          <mat-icon
            aria-hidden="false" class="delete-icon action-icon" aria-label="Example home icon">delete
          </mat-icon>
        </td>
<!--        <td class="text-right">&euro;225</td>-->
      </tr>
      <tr>
        <td class="font-weight-bold">Chase Freedom</td>
        <td class="">Chase debit card </td>
        <td class="text-right last-td">
          <mat-icon
            aria-hidden="false" class="info-icon action-icon" aria-label="Example home icon">create
          </mat-icon>
          <mat-icon
            aria-hidden="false" class="delete-icon action-icon" aria-label="Example home icon">delete
          </mat-icon>
        </td>
<!--        <td class="text-right">&euro;223</td>-->
      </tr>
      <tr>
        <td class="font-weight-bold">Apple Card</td>
        <td class="">Apple pay card</td>
        <td class="text-right last-td">
          <mat-icon
            aria-hidden="false" class="info-icon action-icon" aria-label="Example home icon">edit
          </mat-icon>
          <mat-icon
            aria-hidden="false" class="delete-icon action-icon" aria-label="Example home icon">delete
          </mat-icon>
        </td>
<!--        <td class="text-right">&euro;90</td>-->
      </tr>
      </tbody>
    </table>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-success btn-block">
          ADD NEW
        </button>
      </div>
    </div>
  </div>
</div>
