<div class="row">
  <div class="col summary-card-container">
    <div class="card text-center summary-card">
      <div class="card-body text-left">
<!--        <h5 class="card-title">Total ($325)</h5>-->
        <h6 class="card-subtitle mb-2 text-muted">Showing history for {{budgetDay.day}}, {{budgetDay.month}} {{budgetDay.year}}</h6>
        <h5 *ngIf="!hasIncomesOrExpenses" >No entries for this day.</h5>
        <h5 *ngIf="hasIncomesOrExpenses" class="card-title font-weight-bold">
          Entries total:  <span [ngClass]="{'text-success': budgetDayTotal > 0, 'text-danger': budgetDayTotal < 0}"
                      class="font-weight-bold"
                       > ${{getTotalAbs()}} </span>
        </h5>
        <br/>
          <table *ngIf="budgetDay" class="table">
          <tbody>
          <tr *ngFor="let income of budgetDay.incomes" class="budget-day-tr">
            <td class="text-uppercase font-weight-bold">{{income.title}}</td>
            <td>CATEGORY</td>
            <td class="text-success font-weight-bold">${{income.amount}}</td>
            <td class="text-right last-td">
              <mat-icon aria-hidden="false" class="active-icon" aria-label="Example home icon">launch</mat-icon>
            </td>
          </tr>

          <tr *ngFor="let expense of budgetDay.expenses" class="budget-day-tr">
            <td class="text-uppercase font-weight-bold">{{expense.title}}</td>
            <td>CATEGORY</td>
            <td class="text-danger font-weight-bold">${{expense.amount}}</td>
            <td class="text-right last-td">
              <mat-icon aria-hidden="false" class="active-icon" aria-label="Example home icon">launch</mat-icon>
            </td>
          </tr>

<!--          <tr class="expense-tr clicked">-->
<!--            <td class="font-weight-bold">T MOBILE</td>-->
<!--            <td>Telephone</td>-->
<!--            <td class="text-danger font-weight-bold">$325.00</td>-->
<!--            <td class="text-right last-td">-->
<!--              <mat-icon aria-hidden="false" class="active-icon" aria-label="Example home icon">launch</mat-icon>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr class="expense-tr ">-->
<!--            <td class="font-weight-bold">CHASE</td>-->
<!--            <td>Bank account</td>-->
<!--            <td class="text-success font-weight-bold">$125.00</td>-->
<!--            <td class="text-right">-->
<!--              <mat-icon aria-hidden="false" aria-label="Example home icon">launch</mat-icon>-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr class="expense-tr">-->
<!--            <td class="font-weight-bold">ALTICE ONE</td>-->
<!--            <td>Utility bill</td>-->
<!--            <td class="text-danger font-weight-bold">$825.00</td>-->
<!--            <td class="text-right">-->
<!--              <mat-icon aria-hidden="false" aria-label="Example home icon">launch</mat-icon>-->
<!--            </td>-->
<!--          </tr>-->
          </tbody>
        </table>

      </div>

      <div class="card-footer">
          <div class="col col-md-12 text-center">
            <button (click)="addNew()" class="btn btn-primary btn-block font-weight-bold">Add new</button>
        </div>
      </div>
    </div>
  </div>
</div>
