
.summary-card-container {
  //todo make with vertical align
  margin-top: 10px;
  margin-left: 2px;
}

.scrollable-body{
  overflow-x: hidden;
  overflow-y: auto;
}

.dark-grey-bg {
  background: #243447;
}

.summary-card {
  height: 560px;
}
.inner-padding{
  padding-left: 10px !important;
}
.no-padding-inner{
  margin-top: 0px !important;
  padding-left: 5px !important;
  padding-right: 0px !important;
}

.btn-dodger{
  background: dodgerblue;
  font-weight: bold;
  font-size: 14px;
}

//.expense-item {
//  font-size: 16px;
//}
//
//.income-item{
//
//}


.budget-day-tr {
  font-size: 15px;
  transition: .3s;
}


.delete-icon{
  color: red;
}

.info-icon{
  color: dodgerblue;
}

.budget-day.clicked {
  color: white;
  background: #243447;
}

.last-td {
  border-radius: 0 .7em .7em 0;
}

.budget-day-tr:hover {
  background: #243447;
  color: white;
}

.action-icon{
  font-size: 19px !important;
}

.action-icon:hover{
  cursor: pointer;
}

h1,h2,h3,h4,h5,h6{
  font-family: inherit;
  padding: 0 !important;
  margin: 5px !important;
}

.font-weight-bold{
  font-weight: bold;
}

.custom-card-header{
  background: #243447 !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  margin-bottom: 0px !important;
  span{
    font-size: 16px !important;
  }
}
