
.summary-card-container {
  //todo make with vertical align
  margin-top: 20px;
  margin-left: 2px;
}

.dark-grey-bg {
  background: #243447;
}

.summary-card {
  height: 500px;
}
.inner-padding{
  padding-left: 10px !important;
}
.no-padding-inner{
  padding-left: 5px !important;
  padding-right: 0px !important;
}

.btn-dodger{
  background: dodgerblue;
  font-weight: bold;
  font-size: 14px;
}

//.expense-item {
//  font-size: 16px;
//}
//
//.income-item{
//
//}


.budget-day-tr {
  font-size: 15px;
  transition: .3s;
}


.delete-icon{
  color: red;
}

.info-icon{
  color: dodgerblue;
}

.budget-day.clicked {
  color: white;
  background: #243447;
}

.last-td {
  border-radius: 0 .7em .7em 0;
}

.budget-day-tr:hover {
  background: #243447;
  color: white;
}

.action-icon{
  font-size: 19px;
}

.action-icon:hover{
  cursor: pointer;
}

