<div class="row">
  <div class="col summary-card-container">
    <div class="card text-center summary-card">
      <div class="card-header card-header-primary custom-card-header">
        <!--        <h6>User profile</h6>-->
        <span *ngIf="!hasIncomesOrExpenses">  No entries for this day. </span>
        <span *ngIf="hasIncomesOrExpenses">Total for the day: </span>
        <span *ngIf="hasIncomesOrExpenses"
              [ngClass]="{'text-success': budgetDayTotal > 0, 'text-danger': budgetDayTotal < 0}"
              class="font-weight-bold">
          ${{getTotalAbs()}}
        </span>
      </div>
      <div class="card-body no-padding-inner text-left scrollable-body">
        <table *ngIf="budgetDay" class="table">
          <tbody>
          <tr *ngFor="let income of budgetDay.incomes"
              class="budget-day-tr">
            <td class="text-uppercase font-weight-bold">{{income.title}}</td>
            <td>{{getAccountName(income.accountId)}}</td>
            <td class="text-success font-weight-bold">${{income.amount}}</td>
            <td class="text-right last-td">
              <mat-icon
                (click)="incomeDetailClicked(income.id)"
                aria-hidden="false" class="info-icon action-icon" aria-label="Example home icon">create
              </mat-icon>
              <mat-icon
                (click)="incomeDeletedClickedEvent.emit(income.id)"
                aria-hidden="false" class="delete-icon action-icon" aria-label="Example home icon">delete
              </mat-icon>
            </td>
          </tr>

          <tr *ngFor="let expense of budgetDay.expenses" class="budget-day-tr">
            <td class="text-uppercase font-weight-bold">{{expense.title}}</td>
            <td>{{getCategoryName(expense.categoryId)}}</td>
            <td class="text-danger font-weight-bold">${{expense.amount}}</td>
            <td class="text-right last-td">
              <mat-icon
                (click)="expenseDetailClickedEvent.emit(expense.id)"
                aria-hidden="false" class="info-icon action-icon" aria-label="Example home icon">create
              </mat-icon>
              <mat-icon
                (click)="expenseDeletedClickedEvent.emit(expense.id)"
                aria-hidden="false" class="delete-icon action-icon" aria-label="Example home icon">delete
              </mat-icon>
            </td>
          </tr>
          </tbody>
        </table>

      </div>

      <div class="card-footer">
        <div class="col col-md-12 text-center">
          <button (click)="addNew()" class="btn btn-dodger btn-block font-weight-bold">Add new</button>
        </div>
      </div>
    </div>
  </div>
</div>
