<!--<p>category-budget-expense works!</p>-->
<table class="table table-less-padding">
  <thead>
    <tr>
      <th>CATEGORY</th>
      <th>BUDGET ASSIGNED</th>
      <th>CURRENT SPENT</th>
      <th>REMAINING</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let category of model">
      <td>{{category.category.name}}</td>
      <td class="">{{category.category.budgetAssigned | currency}}</td>
      <td class="text-danger">{{category.totalExpenseForCategory | currency}}</td>
      <td [ngClass]="{'text-danger': !isPositiveCategoryBalance(category), 'text-success': isPositiveCategoryBalance((category)) }">
        {{this.getTotalForCategory(category) | currency}}</td>
    </tr>
  </tbody>
</table>
