<!--<p>category-budget-expense works!</p>-->
<table class="table table-less-padding">
  <thead>
    <tr>
      <th>Category</th>
      <th>Budget assigned</th>
      <th>Currently spent</th>
      <th>Remaining</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of model">
      <th>{{category.category.name}}</th>
      <th>{{category.category.budgetAssigned | currency}}</th>
      <td class="text-danger">{{category.totalExpenseForCategory | currency}}</td>
      <td [ngClass]="{'text-danger': !isPositiveCategoryBalance(category), 'text-success': isPositiveCategoryBalance((category)) }">
        {{this.getTotalForCategory(category) | currency}}</td>
    </tr>
  </tbody>
</table>
