.action-icon {
  font-size: 19px !important;
}

.action-icon:hover{
  cursor: pointer;
}

.info-icon {
  color: dodgerblue;
}

.default-icon{
  color: black;
}

.save-icon {
  color: green;
}

.delete-icon {
  color: red;
}

.font-weight-bold{
  font-weight: bold !important;
}
